@model Zuplae.Aulas.Atv0012.Web.Models.FornecedorViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastra Fornecedor</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fornecedor.RazaoSocial" class="control-label"></label>
                <input asp-for="Fornecedor.RazaoSocial" class="form-control" />
                <span asp-validation-for="Fornecedor.RazaoSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fornecedor.CNPJ" class="control-label"></label>
                <input asp-for="Fornecedor.CNPJ" class="form-control" />
                <span asp-validation-for="Fornecedor.CNPJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label >Endereco</label>
                <select asp-for="Fornecedor.Endereco.Id" asp-items="Model.Enderecos" class="form-control">
					<option value="">Selecione um Endereço</option>
                </select>
                <span asp-validation-for="Fornecedor.Endereco.Id" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<a asp-action="Index" class="btn btn-secondary">
    <i class="bi bi-arrow-left"></i> Voltar
</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
